{% extends 'base.html' %}

{%block title%}
HomePage
{%endblock%}

{%block body%}
<div class="container">
    <form>
        <div class="mb-3 mt-3">
          <label for="exampleInputEmail1" class="form-label">Add a New Task?</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Type your task in the box.</div>
        </div>
        <button type="submit" class="btn btn-primary">Add My Task</button>
      </form>
</div>
{%endblock%}