{% extends 'base.html' %}


{% block body %}

<div class="container py-5">
    <h3>Add your task right now</h3>

    <form class="py-5" action="/edit/{{edit_task.id}}" method="post">
        <div class="form-group">
          <label for="exampleInputEmail1" class="font-weight-bold">Add a task</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your task" name="task" value="{{edit_task.task_name}}">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>

{% endblock %}